---
import Layout from '../layouts/Layout.astro';
import Login from '../components/Login.svelte'

let login: boolean = false;
---

<Layout title="Home">
    <div class="main">
        {login ? "Signed in" : <Login />}
    </div>
</Layout>

<style>
    .main {
        width: clamp(600px, 90vw, 90vw);
        height: clamp(300px, 90vh, 90vh);

        background-color: white;
    }
</style>